body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

.btn {
  border: 3px solid black;
  border-radius: 10px;
  font-size: 40px;
  padding: 10px;
  margin: 10px;
}

.btn:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}